/* =================
   Custom properties  
   ================= */

:root {   
    --clr-primary-grey: #83869A;
    --clr-secondary-dark: #13183F;
    
    --clr-white-grayishblue: linear-gradient(#FFFFFF, #F1F2FD);
    --clr-blue-magenta: linear-gradient(#4851FF, #F02AA6);
    --clr-orange-magenta: linear-gradient(#FF6F48, #F02AA6);
    
    --clr-neutral-white: #FFFFFF;
    --clr-neutral-lowerlip: #F74780;

    --clr-active-waikawa: #666CA3;
    --clr-active-pink: #FFA7C3;

    --ff-body: 'Plus Jakarta Sans', sans-serif;
  
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-extra-bold: 800;
}

/* =================
   CSS reset   
   ================= */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1;
}

/* =================
   General styling 
   ================= */

body {
  font-family: var(--ff-body);
  font-weight: var(--fw-medium);
  font-size: 1rem;
  color: var(--clr-primary-grey);
}

/* =================
   Header 
   ================= */

.container-header {
  margin-top: 1em;
  margin-bottom: 0;
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 260px;
}

.logo {
  height: 100%;
  width: 89px;
  height: 35px;
}

/* =================
   Main 
   ================= */

.general {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2.2em;
  max-width: 457px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800; 
  color: var(--clr-secondary-dark);
  margin-bottom: 0;
  line-height: 1.3em;
}

.general-description {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.621em;
  margin-bottom: 0;
  line-height: 1.63em;
  max-width: 343px;
}

/* =================
   Tiles
   ================= */

.tiles-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-image {
  margin-top: 2.1em;
  margin-bottom: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.course-tile {
  margin-top: 0;
  width: 343px;
}

.headline {
  height: 120px; 
  color: var(--clr-neutral-white);
  background: var(--clr-orange-magenta);
  padding-top: 1.6em;
  padding-bottom: 1.6em;
  padding-left: 2.0em; 
  border-radius: .6em;
  margin-bottom: 1.3em;
  margin-left: 1.2em;
  margin-right: 1.2em;
 }

.white-tile {
  height: 259px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  background: lightgoldenrodyellow;
  margin-top: 1em;
  margin-bottom: 1.3em;
  border-radius: .6em;
  margin-left: 1.2em;
  margin-right: 1.2em;
  background: var(--clr-neutral-white);
}

.course-img {
  display: inline-block;
  margin-top: -1.65em;
  margin-left: 1.8em;
}

.course-tile-title {
  margin-top: 1.37em;
  margin-left: 1.5em;
  font-size: 1.25rem;
  font-weight: 800;
}

.course-description {
  font-size: 1rem;
  margin-top: 1.25em;
  margin-left: 1.96em;
  margin-right: 1em;
}

.course-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.125rem;
  margin-left: 1.96em;
  margin-bottom: 1.75em;
  margin-top: 1em;
  color: var(--clr-neutral-lowerlip);
}

.course-link:hover,
.course-link:focus {
  color: var(--clr-active-pink);
}

h2 {
  font-size: 1.5rem;
  line-height: 1.3em;
  padding-right: 2em;
}

h3 {
color: var(--clr-secondary-dark);
}


/* Media queries Tablet */
   
@media (min-width: 768px) and (max-width: 1439px) {
  
  .logodark {
    margin-top: 1.5em;
  }

  .container-header {
    margin-left: 2.4375em;
    margin-right: 2.2em;
    margin-top: 0;
  }

/* possible issue with button */

  .container-hero {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    line-height: 1.29;
  }

  .hero-big {
    flex: none;
    margin-top: -9.22em;
  }

  .hero-image {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

/* possible issue with button */

  .general {
    margin-left: 2.4375em;
    margin-top: 6em;
  }

  .general-description {
    max-width: 398px;
    margin-right: -5.5em;
  }

  .course-tile {
    width: 339px;
    height: 259px;
    margin-bottom: 3.55em;
    margin-right: 0;
  }

  .tiles-flex {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2.4375em;
    margin-top: 3.25em;
  }

  .headline {
    margin-right: .71em;
    margin-left: 0;
  }

  h2 {
    padding-top: 1.2em;
  }

  .white-tile {
    margin-top: 0;
    margin-right: .71em;
    margin-left: 0;
  }

}

/* Media queries Desktop */

@media (min-width: 1440px) {

  .logo {
    width: 112px;
    height: 29px;
  }

  .logodark {
    margin-top: 1.5em;
  }

  .container-hero {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-size: 3.5rem;
  }

  .hero-big {
    margin-top: -7.22em;
  }

  .general-description {
    font-size: 1.125rem;
    max-width: 440px;
    line-height: 1.57em;
  } 

  .container-header {
    margin-left: 10.361875em;
    margin-right: 10.361875em;
    margin-top: 0;
  }

  .general {
    margin-left: 10.3125em;
    margin-top: 10.55em;
  }

  .course-tile {
    width: 350px;
    height: 322px;
    margin-bottom: 5.15em;
    margin-right: 0;
  }

  .tiles-flex {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10.3125em;
    margin-top: 6em;
    max-width: 1320px;
  }

  .headline {
    margin-right: .71em;
    margin-left: 0;
    margin-right: 1.75em;
  }

  h2 {
    font-size: 2rem;
    line-height: 1.265em;
    padding-right: 2em;
    padding-top: 1.15em;
  }


  .white-tile {
    margin-top: 0;
    margin-right: 1.75em;
    margin-left: 0;
  }

  .course-description {
    font-size: 1.125rem;
    padding-top: .155em;
    line-height: 1.57em;
  }

  .course-tile-title {
    font-size: 1.5rem;
  }

  .course-tile-title {
    padding-top: .13em;
  }

  .course-link {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1.25em;
    padding-bottom: 2em;
  }

  #special {
    padding-top: 2.8em;
  }
}

/* =================
   Footer 
   ================= */

footer {
  background: var(--clr-secondary-dark);
}

.container-footer {
  margin-top: 3.75em;
  margin-left: 1.2em;
  margin-right: 1.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5em;
  min-width: 260px;
  padding-top: 2.725em;
  padding-bottom: 2.725em;
}

.container {
  background: linear-gradient(180deg, #FFFFFF 40%, #F1F2FD 70%);
}

@media (min-width: 768px) and (max-width: 1439px) {

  .container-footer {
    margin-top: 1.75em;
    margin-left: 2.4375em;
    margin-right: 2.2em;
  }

}

@media (min-width: 1440px) {

  .container-footer {
    margin-top: 3.75em;
    margin-left: 10.361875em;
    margin-right: 10.361875em;
  }

}

/* =================
   Buttons 
   ================= */

.btn {
  background: #F02AA6;
  border-radius: 40px;
  text-decoration: none;
  color: var(--clr-neutral-white);
  letter-spacing: 0.02em;
}

.btn-header {
  background: var(--clr-secondary-dark);
  width: 8.75em;
  height: 3em;
  text-align: center;
  line-height: 3em;
  font-weight: 600;
  position:relative; 
}

.btn-header:hover,
.btn-header:focus {
  background: var(--clr-active-waikawa);
}

@media (min-width: 768px) and (max-width: 1339px) {
  .btn-header {
    margin-top: 1.5em;
  }  
} 

@media (min-width: 1440px) {
  
  .btn-header {
    width: 9.25em;
    height: 3.15em;
    line-height: 3.15em;
    font-size: 1.125rem;
    margin-top: 1.5rem;
  }  

}

.btn-primary {
  background: var(--clr-orange-magenta);
  margin-top: 1.5em;
  display: inline-block;
  width: 10.4375em;
  height: 3.5em;
  text-align: center;
  line-height: 3.5em;
  font-weight: 600;
}

@media (min-width: 1440px) {
  
  .btn-primary {
    margin-top: 2.15em;
    width: 9.25em;
    height: 3.55em;
    line-height: 3.55em;
    font-size: 1.125rem;
  }  

}

.btn-primary:hover,
.btn-primary:focus {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
  }

.btn-footer {
  background: var(--clr-blue-magenta);
  width: 8.75em;;
  height: 3em;
  text-align: center;
  line-height: 3em;
  font-weight: 600;
}

.btn-footer:hover,
.btn-footer:focus {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
  }

@media (min-width: 1440px) {
  
  .btn-footer {
    width: 9.25em;
    height: 3.15em;
    line-height: 3.15em;
    font-size: 1.125rem;
  }  
}


